$font-size-base = 18px;
$code-font-size = 16px;
$text-color = $black-deep;
$selection-bg = $orange;
$headband-bg = $orange;
$brand-bg = $orange;
$read-more-bg-color       = $orange;
$headband-bg     = $orange;
$btn-default-bg                  = $orange;
$btn-default-border-color        = $orange;
$btn-default-hover-color         = $orange;
$btn-default-hover-border-color  = $orange;
$link-color                   = $black-light;
$link-hover-color             = $orange;
$link-decoration-color        = $grey-light;
$link-decoration-hover-color  = $orange;
$border-color                 = $orange;
$pagination-link-hover-border   = $orange
$pagination-active-border       = $orange
$sidebar-highlight                = $orange

$menu-link-hover-border = $orange
$toc-link-hover-border-color          = $orange
$site-state-item-border-color     = $orange

$toc-link-active-color                = $orange
$toc-link-active-border-color         = $orange
$toc-link-active-current-color        = $orange
$toc-link-active-current-border-color = $orange


$subtitle-font-size     = 15px
$subtitle-color         = $black-deep
